// Place all the styles related to the paintings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$basewidth: 600px;
$maincolor: #6f6;
$mainfont :Helvetica;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

body {
	background-image: url(starrynight.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
.main {

	background-color: white;
	width: $basewidth/ 960px * 100%; 
	
	
	margin :0 auto;
	font-family: $mainfont;
	@include border-radius(10px);

	.painting {
		background-color: darken($maincolor, 30%);
		color: lighten($maincolor, 50%);

	}

	.details {
		background-color: $maincolor; 
		&:last-child {
			border-bottom-left-radius: 5px;
			border-bottom-right-radius: 5px;
		}
	}
}